/* 首页轮播图 */
.banner{
    width:1024px;
    height:380px;
    position: relative;
    margin-top: 20px;
    margin: 0 auto;
    overflow: hidden;
}
.banner ul{
    width: 5200px;
    position: relative;
    left: 0px;
    transition: left 1s ease 0s;
}

.banner ul li{
    float: left;
}

.banner .banner-btn{
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: rgba(33, 84, 150, 0.7);
    border: solid 1px rgba(255,255,255,.3);
    border-radius: 50%;
    font-size: 26px;
    color: rgba(255,255,255,.5);
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.banner .banner-btn:hover{
    background-color: rgba(33, 84, 150, 1);
    /* background-color: #fff; */
    color: #fff;
}
.banner #leftbtn{
    left: 20px;
}
.banner #rightbtn{
    right: 20px;
}

.banner img{
    width: 1024px;
    height: 380px;
}


.banner ol{
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 100px;
    transform: translateX(-50%);
}

.banner ol li{
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}



/* 首页楼层商品展示 */
.floor-content{
    height: auto;
}
.floor-content .floor-title{
    height: 50px;
    line-height: 50px;
    color: #215496;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #215496;
    margin-top: 10px;
}


.floor-list{
    overflow: hidden;
}


.floor-content .floor-list .floor-item{
    width: 180px;
    height: 180px;
    float: left;
    margin: 15px 31px 15px 0;
}

.floor-content .floor-list .floor-item:nth-child(5n){
    margin-right: 0;
}

.floor-content .floor-list .floor-item img{
    width:100%;
    height: 100%;
}
