/* css reset */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f6f6;
    font: 12px/1.5 tahoma, arial, Microsoft yahei, simsun, sans-serif;
}

li{
    list-style: none;
}

img{
    display: block;
    border: none;
}
label{
    cursor: pointer;
}
input[type="checkbox"]{
    cursor: pointer;
}
/* 定宽布局 */
.w{
    width: 1024px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/* 全局通用样式 */
.hide{
    display: none;
}
.link{
    color:#8e8e8e;
    cursor: pointer;
    text-decoration: none;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: #215496;
    height: 40px;
    color: #fff;
    line-height: 40px;
    vertical-align: center;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}