<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypetstore</title>
    <link rel="stylesheet" href="../css/mypetstore.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://kit.fontawesome.com/eacafade65.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="nav-top">
        <div class="w">
            <div class="user-info">
                <span class="user not-login">
                    <span class="link">登录</span>
                    <span class="link">注册</span>
                </span>
                
                    <span class="user login">
                        <span class="link">
                            欢迎您<span class="username">xxx</span>
                            <span class="link">退出</span>
                        </span>
                    </span>
            </div>
            <ul class="nav-top-list">
                <li class="nav-top-item">
                    <a href="" class="link">
                        购物车(<span class="cart-count">0</span>)
                    </a>
                </li>
                <li class="nav-top-item">
                    <a href="" class="link">
                        我的订单
                    </a>
                </li>
                <li class="nav-top-item">
                    <a href="" class="link">
                        我的PetStore
                    </a>
                </li>
                <li class="nav-top-item">
                    <a href="" class="link">
                        关于PetStore
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div class="search">
        <div class="wp">
            <a href="" class="link logo">MypetStore</a>
            <div class="searchbox">
                <input type="text" class="search-input placeholder" placeholder="请输入商品名称">
                <button class="btn search-btn">搜索</button>
            </div>
        </div>
    </div>

    <!-- <div class="w"> -->
        <div class="banner">
            <ul id="banner-list">
                <li>
                    <img src="../images/狗101.jpg" alt="">
                </li>
                <li>
                    <img src="../images/ban1.jpg" alt="">
                </li>
                <li>
                    <img src="../images/ban2.jpg" alt="">
                </li>
                <li>
                    <img src="../images/ban3.jpg" alt="">
                </li>
            </ul>
            <button class="banner-btn" id="leftbtn">&lt;</button>
            <button class="banner-btn" id="rightbtn">&gt;</button>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </div>
    <!-- </div> -->

    <div class="w">
        <div class="floor-content">
            <h1 class="floor-title">狗/Dogs</h1>
            <ul class="floor-list">                
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/狗103.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/狗102.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/狗104.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/狗105.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/狗106.jpg" alt="">
                    </a>
                </li>
            </ul>
            
            <h1 class="floor-title">猫/Cat</h1>
            <ul class="floor-list">                
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫101.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫102.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫103.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫104.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫105.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫106.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫107.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫108.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫109.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/猫110.jpg" alt="">
                    </a>
                </li>
            </ul>
            <h1 class="floor-title">其他/Others</h1>
            <ul class="floor-list">                
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/q1.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/q2.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/q3.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/q5.jpg" alt="">
                    </a>
                </li>
                <li class="floor-item">
                    <a href="" class="link">
                        <img src="../images/q4.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="w">
            <div class="links">
                <a href="" class="link">中南大学</a>
               <a href="" class="link">图书馆</a>
               <a href="" class="link">宠物商店</a>
               <p class="copyright">Copyright© 2025 mystore.com All rights reserved.</p>
            </div>
        </div>
    </div>
    <script>
        var index=0
        var elbanner=document.getElementById('banner-list');
        var elleftbtn=document.getElementById('leftbtn');
        var elrightbtn=document.getElementById('rightbtn');

        var elcloneli=elbanner.firstElementChild.cloneNode(true);
        elbanner.appendChild(elcloneli);

        elrightbtn.addEventListener('click',function(){
            elbanner.style.transition='left 1s ease 0s';
            index++;
           elbanner.style.left=-index*1024+'px'
            if(index>=4){
                setTimeout(function(){  /**设置延时器**/
                    elbanner.style.transition='none';
                    elbanner.style.left='0px';
                index=0;
                },1000)
            }

        },false)
        elleftbtn.addEventListener('click',function(){
            if(index<=0){
                elbanner.style.transition='none';
                elbanner.style.left=-4* 1024+'px';

                setTimeout(function(){
                    elbanner.style.transition='left 1s ease 0s';
                    index=3;
                    elbanner.style.left=-index*1024+'px'
                },0)
            }else{
                index--;
                elbanner.style.left=-index*1024+'px'
            }
            
        },false)
    </script>
</body>
</html>